<template>
  <div>
    <div class="d-flex justify-content-between">
      <h1>Inventario</h1>
      <router-link to='/new-product'>
        <button>Nuevo producto</button>
      </router-link>
    </div>

    <div>
      <table class="table">
        <thead>
          <tr>
            <th v-for="header in headers" :key="header.key">
              {{ header.name }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in products" :key="item.sku">
              <td>{{ item.sku }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.category_name }}</td>
              <td>{{ item.stock }}</td>
              <td><star-rating class="justify-content-center" :increment='0.5' star-size='10' read-only :show-rating="false" :rating="item.stars" /></td>
              <td>{{ item.status  }}</td>

              
              <td>
              <div class="dropdown">
                <button
                  class="btn btn-secondary btn-sm dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton1"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  ...
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" v-on:click="clickDetail(item.id)">Detalle</a></li>
                  <li><a class="dropdown-item" v-on:click="clicked(item.id)">Editar</a></li>
                  <li><a class="dropdown-item" v-on:click="clickStock(item.id, item.status)">{{ item.status  == 'Con inventario' ? sendStatus = 'Sin inventario' : sendStatus = 'Con inventario' }}</a></li>
                  <li>
                    <a class="dropdown-item" v-on:click="deleteItem(item.id)">Eliminar</a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <nav aria-label="...">
        <ul class="pagination">
          <li class="page-item" v-bind:class="[pagination == 1 ? 'page-item disabled' : 'page-item']">
            <a class="page-link" v-on:click="changePage(pagination - 1, 'previous')" tabindex="-1">Previous</a>
          </li>
          <li class="page-item active"><a class="page-link" v-on:click="changePage(pagination)"> {{ pagination}} </a></li>
          <li class="page-item">
            <a class="page-link" v-on:click="changePage(pagination + 1, 'next')">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</template>

<script>
import { defineComponent, onBeforeMount, ref } from "vue"
import { useRouter } from 'vue-router'
import { getTable, getTablePages, updateStock, deleteProduct } from "../services/api"
import StarRating from 'vue-star-rating'

export default defineComponent({
  components: {
    StarRating
  },
  data() {
    return {
      headers: [
        {
          key: "sku",
          name: "SKU",
        },
        {
          key: "product",
          name: "Nombre de producto",
        },
        {
          key: "category",
          name: "Categoría",
        },
        {
          key: "stock",
          name: "Inventario",
        },
        {
          key: "rate",
          name: "Calificacion",
        },
        {
          key: "status",
          name: "Estatus",
        },
        {
          key: "actions",
          name: "Acciones",
        },
      ],
    };
  },
  setup() {

    const router = useRouter();

    const products = ref([])
    const pagination = ref(1)
    onBeforeMount(async () => {
      const response = await getTable()
      if(response) {
        products.value = response.products.data
      } else {
        products.value = []
      }
    })

    const clicked = (id) => {      
        router.push(`/table/${id}`);      
    };

    const clickDetail = (id) => {      
        router.push(`/table/view/${id}`);      
    };

    const clickStock = async (id, status) => {
      let sendStatus = ''
      status == 'Con inventario' ? sendStatus = 'Sin inventario' : sendStatus = 'Con inventario'
      await updateStock(id, sendStatus)
        .then(async () => {
          const response = await getTablePages(pagination.value)
          if(response)
            products.value = response.products.data
        })
    }

    const deleteItem = async (id) => {      
      await deleteProduct(id)
    }

    return { products, pagination, clicked, clickDetail, clickStock, deleteItem }
  },
  methods: {
    async changePage(page, stage){
      const response = await getTablePages(page)
      if(response) {
        this.products = response.products.data
        if(stage == 'previous'){
          this.pagination = this.pagination - 1
        } else if(stage == 'next'){
          this.pagination = this.pagination + 1
        }
      } else {
        this.products = []
      }
    }
  }
});
</script>
