<template>
  <div>
    <div class="d-flex justify-content-between">
      <h1>Detalle producto</h1>
      <router-link to="/table">
        <button>Regresar</button>
      </router-link>
    </div>
    <div class="row"> 
        <div class="col-4 d-flex align-items-center justify-content-center">
            <img :src="product.image" alt='imagen' width='200'>
        </div>
        <div class="col-8 d-flex flex-column text-start">
            <span class="name m-1">{{ product.name }}</span>
            <span class="category m-1">by <span class="category_name">{{ product.category_name }}</span></span>
            <div class="d-flex m-1">
              <span class="price mr-2"> ${{ product.price }} |&nbsp;</span><div class="ml-2"><star-rating :increment='0.5' star-size='10' read-only :show-rating="false" :rating="product.stars" /></div>
            </div>
            <span class="status m-1">Disponible - <span v-bind:class="product.status == 'Sin inventario' ? 'no_stock' : 'stock'">{{ product.status }}</span></span>
            <span class="description m-1">{{ product.description }}</span>
            <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="mt-4 btn-sm btn btn-outline-secondary rate"><span>Calificar</span></button>
        </div>
    </div>    

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title name" id="exampleModalLabel">{{ product.name }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <star-rating :star-size='20' :rating="product.newRate" @update:rating ="setRating"/>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" v-on:click="starsProduct(route.params.id, rating)" >Calificar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent, onBeforeMount, reactive } from "vue"
import { useRoute } from 'vue-router'
import { getProduct, rateProduct } from "../services/api"
import StarRating from 'vue-star-rating'

export default defineComponent({
  components: {
    StarRating
  },
  data() {
    return{
      rating: 0
    }
  },
  setup() {
    const product = reactive({
        sku: '', 
        name: '', 
        description: '',
        category_name: '',
        price: '',
        status: '',
        stars: 0,
        image: ''
    })

    const route = useRoute()

    onBeforeMount(async () => {   

      const responseProduct = await getProduct(route.params.id)
      if(responseProduct) {
        product.sku= responseProduct.product.sku, 
        product.name= responseProduct.product.name, 
        product.description= responseProduct.product.description,
        product.category_name= responseProduct.product.category_name,
        product.price= responseProduct.product.price,
        product.status= responseProduct.product.status,
        product.stars= responseProduct.product.stars,
        product.image= responseProduct.product.image
      } else {
        product.value = {}
      }
      
    })

    return { product, route }
  },
  methods : { 
    setRating(rating){
      this.rating= rating;
    }, 
      async starsProduct(id, rate){
        await rateProduct(id, rate)
      }
   }
});
</script>

<style scoped>
.name{
  color: #a2a1a8;
  text-transform: capitalize;
}

.category{
  color: #bbbbbd;
}

.category_name{
  color: #ada5d5;
  text-transform: capitalize;
}

.price{
  color: #afa8d6;
}

.status{
  color: #c4c4c4;
}

.description{
  color: #bebec0;
}

.stock{
  color: #98c3af;
}

.no_stock{
  color: #ff2e74;
}

.rate{
  width: 25%;  
}
</style>