<template>
  <div>
    <div class="d-flex justify-content-between">
      <h1>Editar producto</h1>
      <router-link to="/table">
        <button>Regresar</button>
      </router-link>
    </div>
    <form @submit.prevent="submitform(route.params.id)">
      <div class="form-floating mb-3">
        <input class="form-control" id="sku" v-model="products.sku">
        <label for="sku">SKU</label>
      </div>
      <div class="form-floating mb-3">
        <input class="form-control" id="name" v-model="products.name">
        <label for="name">Nombre del producto</label>
      </div>
      <div class="form-floating mb-3">
        <input class="form-control" id="description" v-model="products.description">
        <label for="description">Descripción</label>
      </div>
      <div class="form-floating mb-3">
        <input class="form-control" id="price" v-model="products.price">
        <label for="price">Precio</label>
      </div>
      <select class="form-select form-floating mb-3" aria-label="Default select example" v-model="products.category_id">
        <option value="">Seleccione una opción</option>
        <option  v-for="category in categories" :key="category.id" :label="category.name">{{category.id}}</option>
      </select>
      <div class="form-floating mb-3">
        <input class="form-control" id="stock" v-model="products.stock" >
        <label for="stock">Stock</label>
      </div>
      <button type="submit" class="btn btn-primary">Editar producto</button>
    </form>
  </div>
</template>

<script>
import { defineComponent, ref, onBeforeMount, reactive } from "vue"
import { useRoute, useRouter } from 'vue-router'
import { getCategories, getProduct, updateProduct } from "../services/api"

export default defineComponent({
  data () {},
  setup() {
    const router = useRouter()
    const categories = ref([])
    const products = reactive({
        sku: '', 
        name: '', 
        description: '',
        category_id: '',
        price: '',
        stock: ''
    })

    const route = useRoute()

    onBeforeMount(async () => {

      const response = await getCategories()
      if(response) {
        categories.value = response.categories
      } else {
        categories.value = []
      }

      const responseProduct = await getProduct(route.params.id)
      if(responseProduct) {
        products.sku= responseProduct.product.sku, 
        products.name= responseProduct.product.name, 
        products.description= responseProduct.product.description,
        products.category_id= responseProduct.product.category_id,
        products.price= responseProduct.product.price,
        products.stock= responseProduct.product.stock
      } else {
        products.value = {}
      }
      
    })

    const submitform = async id => {
      const response = await updateProduct(id, products)
         if(response.success){
           router.push(`/table`);
         }
    }

    return { categories, products, route, submitform }
  },
});
</script>
