<template>
  <div>
    <div class="d-flex justify-content-between">
      <h1>Nuevo producto</h1>
      <router-link to="/table">
        <button>Regresar</button>
      </router-link>
    </div>
    <form @submit.prevent="submitform">
      <div class="form-floating mb-3">
        <input class="form-control" id="sku" v-model="formdata.sku">
        <label for="sku">SKU</label>
      </div>
      <div class="form-floating mb-3">
        <input class="form-control" id="name" v-model="formdata.name">
        <label for="name">Nombre del producto</label>
      </div>
      <div class="form-floating mb-3">
        <input class="form-control" id="description" v-model="formdata.description">
        <label for="description">Descripción</label>
      </div>
      <div class="form-floating mb-3">
        <input class="form-control" id="price" v-model="formdata.price">
        <label for="price">Precio</label>
      </div>
      <select class="form-select form-floating mb-3" aria-label="Default select example" v-model="formdata.category_id">
        <option value="">Seleccione una opción</option>
        <option  v-for="category in categories" :key="category.id" :label="category.name">{{category.id}}</option>
      </select>
      <div class="form-floating mb-3">
        <input class="form-control" id="stock" v-model="formdata.stock">
        <label for="stock">Stock</label>
      </div>
      <button type="submit" class="btn btn-primary">Agregar nuevo producto</button>
    </form>
  </div>
</template>

<script>
import { defineComponent, ref, onBeforeMount } from "vue"
import { getCategories, createProduct } from "../services/api"
import { useRouter } from "vue-router";

export default defineComponent({
  data () {
    return {
      formdata:{ sku: '', name: '', description: '', category_id: '', price: '', stock: '' }
       // this is formdata object to store form values
    }
  },
  setup() {
    const router = useRouter()
    const categories = ref([])
    onBeforeMount(async () => {
      const response = await getCategories()
      if(response) {
        categories.value = response.categories
      } else {
        categories.value = []
      }
    })

    return { categories, router }
  },
  methods : {
      submitform(){
         createProduct(this.formdata)
          .then(() => {
            this.router.push('/table')
          })
      }
   }
});
</script>
